body {
  font-size: 16px;
  color: black;
  background-color: teal;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: maroon;
  padding-bottom: 50px;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .75;
}
h2 {
  font-size: 2.5em;
  margin-bottom: 50px;
}
h3 {
  text-align: center;
}

#nav-list {
  margin: 5px;
  background-color: goldenrod;
}
#nav-list p {
  color: black;
  text-align: center;
  border-bottom: 1px solid black;
}


#nav-list p {
  font-size: 1.5em;
  font-weight: 500;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid goldenrod;
  background-color: teal;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.container-fluid {
  margin: 0 100px 100px 100px;
}
#main-content {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 30px;
    height: 80px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
  }
}